.albumImage{
    width: 75%;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-top: 20px;
}

.albumImage img{
    border-radius: 30px;
    width: 100%;
    aspect-ratio: 1;
    margin-left: 35%;
}

.albumImage-shadow{
    -webkit-filter: blur(10px);
    filter: blur(10px);
    width: 90%;
    position: absolute;
    z-index: -1;
    margin-right: 20%;
    top: 25px;
}